.home{
  width:100vw;
 

   
}
main{
  width:90vw;
  margin:0 auto;
}
.hero{
  border-bottom:10px solid lightgray;
}
.footer {
  width: 100vw;
  background-color: black;
  color: white;
  padding:2%;
  font-size:1.3rem;
}
 
.footer-right{
  display: flex;
  flex-direction: column;
}
#social{
  display: flex;
  
}
#social>p{
  margin-right:20px;
}